<a href="https://colab.research.google.com/github/shruti123-web/INTM584_IES_/blob/main/INTM584_IES_LEC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/Supermarket_sales.csv")
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
import pandas as pd
df=pd.read_csv(r"/content/Supermarket_sales.csv")#r->raw path
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df.head() #indexing automatically generated by python, starts from 0

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
df.InvoiceID

0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: InvoiceID, Length: 1000, dtype: object

In [ ]:
df.InvoiceID[1]

'226-31-3081'

In [ ]:
df.Unitprice[99] #it is the 100th item

82.7

In [ ]:
df["Branch"]

0      A
1      C
2      A
3      A
4      A
      ..
995    C
996    B
997    A
998    A
999    A
Name: Branch, Length: 1000, dtype: object

In [ ]:
#Find the maximum, minimum and average “Unit price” for the overall products ?.
print(max(df.Unitprice))
print(min(df.Unitprice))
print(df.Unitprice.mean())

99.96
10.08
55.67213

In [ ]:
#Find the maximum, minimum and average “Quantity” of an overall product ?
print(max(df.Quantity))
print(min(df.Quantity))
print(df.Quantity.mean())

10
1
5.51

In [ ]:
#Find the maximum, minimum and average quantity of the “Health and beauty” product line?
print(df.Quantity.loc[df["Productline"]=="Health and beauty"].max())
print(df.Quantity.loc[df["Productline"]=="Health and beauty"].min())
print(df.Quantity.loc[df["Productline"]=="Health and beauty"].mean())

10
1
5.618421052631579

In [ ]:
#Find the maximum, minimum and average unit price of the “Health and beauty” product line?
print(df.Unitprice.loc[df["Productline"]=="Health and beauty"].max())
print(df.Unitprice.loc[df["Productline"]=="Health and beauty"].min())
print(df.Unitprice.loc[df["Productline"]=="Health and beauty"].mean())

99.96
10.08
54.85447368421053

In [ ]:
#Find the maximum, minimum and average quantity of the “Electronic accessories” product line?
print(df.Quantity.loc[df["Productline"]=="Electronic accessories"].max())
print(df.Quantity.loc[df["Productline"]=="Electronic accessories"].min())
print(df.Quantity.loc[df["Productline"]=="Electronic accessories"].mean())

10
1
5.711764705882353

In [ ]:
#Find out how many men have purchased the "Health and Beauty" line of products.
print(df.Quantity.loc[(df["Productline"]=="Health and beauty") & (df["Gender"]=="Male")].count())

88

In [ ]:
#Find out how many women have bought the “Fashion accessories" product line ?.
print(df.Quantity.loc[(df["Productline"]=="Fashion accessories") & (df["Gender"]=="Female")].count())

96

In [ ]:
#How many women have purchased both the "Fashion accessories" and "Sports and travel" product lines?
print(df.Quantity.loc[(df["Productline"]=="Fashion accessories") | (df["Productline"]=="Sports and travel") & (df["Gender"]=="Female")].count())

266

In [ ]:
#Find total tax collected from Yangon ?
print(df.Tax.loc[(df["City"]=="Yangon")].sum())

5057.1605

In [ ]:
#Find the total sales in Yangon and Mandalay and determine which city has the highest sale.
y=df.Total.loc[(df["City"]=="Yangon")].sum()
print("Total sales in Yongan: ",y)
m=df.Total.loc[(df["City"]=="Mandalay")].sum()
print("Total sales in Mandalay",m)
print("Total sales in Yongan and Mandalay",y+m)
if(y>m):
  print("Yangon")
else:
  print("Mandalay")

Total sales in Yongan:  106200.3705
Total sales in Mandalay 106197.67199999999
Total sales in Yongan and Mandalay 212398.04249999998
Yangon

In [ ]:
#What is the highest gross-income day of the year? 
inc=df.gross_iincome.max()
inc
print(df.Date.loc[(df["gross_iincome"]==inc)])

350    2/15/2019
Name: Date, dtype: object

In [ ]:
#Find the branch and invoice ID with the greatest grow-margin.
print(df.Branch.loc[(df["gross_iincome"]==inc)])
print(df.InvoiceID.loc[(df["gross_iincome"]==inc)])

350    C
Name: Branch, dtype: object
350    860-79-0874
Name: InvoiceID, dtype: object

In [ ]:
#Is the highest profit margin seen in male or female merchandise sales?
incm=df.gross_iincome.loc[(df["Gender"]=="Male")].max()
print("Highest in Male: ",incm)
incf=df.gross_iincome.loc[(df["Gender"]=="Female")].max()
print("Highest in Female: ",incf)

if(incm>incf):
  print("Male is having highest")
else:
  print("Female is having highest")

Highest in Male:  49.49
Highest in Female:  49.65
Female is having highest

In [ ]:
#What type of customer has the highest gross income? Is it better to be normal or special?
inc=df.gross_iincome.max()
inc
print(df.Customertype.loc[(df["gross_iincome"]==inc)])

350    Member
Name: Customertype, dtype: object

In [ ]:
#Is it true that the product with the highest gross income has the highest gross percentage?
inc=df.gross_iincome.max()
inc
print(df.Productline.loc[(df["gross_iincome"]==inc)])
per=df.gross_margin_percentage.max()
per
print(df.Productline.loc[(df["gross_margin_percentage"]==per)])

350    Fashion accessories
Name: Productline, dtype: object
0           Health and beauty
1      Electronic accessories
2          Home and lifestyle
3           Health and beauty
4           Sports and travel
                ...
995         Health and beauty
996        Home and lifestyle
997        Food and beverages
998        Home and lifestyle
999       Fashion accessories
Name: Productline, Length: 1000, dtype: object

In [ ]:
#Determine which invoices have the smallest gross income. What is the relationship between the kind of payment and gross income?
incc=df.gross_iincome.min()
incc
print(df.InvoiceID.loc[(df["gross_iincome"]==incc)])

822    784-21-9238
Name: InvoiceID, dtype: object

In [ ]:
#What is the connection between the rating and the price of the unit? Pick the branch that has the best rating. 
r=df.Rating.max()
r
print(df.Branch.loc[(df["Rating"]==r)])

60     C
62     B
159    B
387    A
853    B
Name: Branch, dtype: object

In [ ]:
#Is it more for males to give the highest rating or women?
rm=df.Rating.loc[(df["Gender"]=="Male")].max()
print("Highest in Male: ",rm)

rf=df.Rating.loc[(df["Gender"]=="Female")].max()
print("Highest in Female: ",rf)

if(rm>rf):
  print("Male is having highest")
else:
  print("Female is having highest")

Highest in Male:  10.0
Highest in Female:  10.0
Female is having highest

In [ ]:
#Determine the best-performing branch and city based on gross income, growth percentage, ratting, and low tax.
#A 25% weighting should be applied to everyone