<a href="https://colab.research.google.com/github/shruti123-web/INTM584_IES_/blob/main/INTM584_IES_Lec8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
newl=[x for x in l if(x%2==0)] #compression
newl

[2, 4, 6, 8, 10]

In [ ]:
r=int(input("Enter the radius: "))
area=lambda r: r*r*3.14
print(area(r))

Enter the radius: 2
12.56

In [ ]:
from itertools import count #if u don't know how many times it will be executed use count with next
x=count(start=0, step=2) #infinite no. of times
next(x)

0

In [ ]:
next(x)

2

In [ ]:
next(x)

4

In [ ]:
#sum of first 50 even numbers

from itertools import count
sum1=0
x=(count(start=0, step=2))
for i in range(0,50):
  sum1=sum1+next(x)
print(sum1)

2450

In [ ]:
from itertools import count
x=(count(start=0, step=2))
s=sum([next(x) for i in range(50)])
s

2450

In [ ]:
x=(count(start=0, step=2))
s=lambda i : sum([next(x) for a in range(i)])
s(50)

2450

In [ ]:
from itertools import cycle #infinite times without using next
list=[1,2,3,4]
iterator=cycle(list)
for i in iterator:
  print(i)

In [ ]:
import itertools #every tools will get imported waste of memory
print(tuple(itertools.repeat(25,4))) #know how many no. of times it will repeat

(25, 25, 25, 25)

In [ ]:
from itertools import accumulate
data = [1,0,2,3,5]
tuple(accumulate(data))

(1, 1, 3, 6, 11)

In [ ]:
from itertools import accumulate
data = [0,1,0,1,1,2]
tuple(accumulate(data))

#[0, 1, 1, 2, 3, 5, 8]

(0, 1, 1, 2, 3, 5)

In [ ]:
from itertools import product #used to make combinations

for i in product('ABC','xyz'):
  print(i)

('A', 'x')
('A', 'y')
('A', 'z')
('B', 'x')
('B', 'y')
('B', 'z')
('C', 'x')
('C', 'y')
('C', 'z')

In [ ]:
K=['A','B','C']
J=['X','Y','Z']
for i in K:
  for f in J:
    print(i,f)

A X
A Y
A Z
B X
B Y
B Z
C X
C Y
C Z

In [ ]:
values=[1,2,3,4,5]
import itertools
count=0
result=itertools.permutations(values, 3)
for value in result:
  print(tuple(value))
  count+=1
print(count)

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 3, 2)
(1, 3, 4)
(1, 3, 5)
(1, 4, 2)
(1, 4, 3)
(1, 4, 5)
(1, 5, 2)
(1, 5, 3)
(1, 5, 4)
(2, 1, 3)
(2, 1, 4)
(2, 1, 5)
(2, 3, 1)
(2, 3, 4)
(2, 3, 5)
(2, 4, 1)
(2, 4, 3)
(2, 4, 5)
(2, 5, 1)
(2, 5, 3)
(2, 5, 4)
(3, 1, 2)
(3, 1, 4)
(3, 1, 5)
(3, 2, 1)
(3, 2, 4)
(3, 2, 5)
(3, 4, 1)
(3, 4, 2)
(3, 4, 5)
(3, 5, 1)
(3, 5, 2)
(3, 5, 4)
(4, 1, 2)
(4, 1, 3)
(4, 1, 5)
(4, 2, 1)
(4, 2, 3)
(4, 2, 5)
(4, 3, 1)
(4, 3, 2)
(4, 3, 5)
(4, 5, 1)
(4, 5, 2)
(4, 5, 3)
(5, 1, 2)
(5, 1, 3)
(5, 1, 4)
(5, 2, 1)
(5, 2, 3)
(5, 2, 4)
(5, 3, 1)
(5, 3, 2)
(5, 3, 4)
(5, 4, 1)
(5, 4, 2)
(5, 4, 3)
60

In [ ]:
values = [1,2,3,4,5] #permutation can repeat, combination cannot repeat
result=itertools.combinations(values,3)
for comb in result:
  print(comb)

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 3, 4)
(1, 3, 5)
(1, 4, 5)
(2, 3, 4)
(2, 3, 5)
(2, 4, 5)
(3, 4, 5)

In [ ]:
#print all comb. which sums to between 5 or 8 
values = [1,2,3,4] #permutation can repeat, combination cannot repeat
sum=0
l=[]
result=tuple(itertools.combinations(values,3))
for i in result:
  for j in range(len(i)):
    sum=sum+i[j]
    if(sum>=5 & sum<=8):
      print(i[j])
  print(" ")

1
2
3

1
2
4

1
3
4

2
3
4

In [ ]:
#opposite of next
def ABC(): 
  yield "T"
  yield "U"
  yield "T"
  yield "O"
  yield "R"
  yield "I"
  yield "A"
  yield "L"

result=ABC()
for k in result:
  print(k)

T
U
T
O
R
I
A
L

In [ ]:
from functools import reduce #similar to map but in map we use functions inbuilt function mostly, here equations are provided,userdefined function mostly
product = reduce((lambda x, y : x*y), [1,2,3,4])
product

24

In [ ]:
#Find the relationship between “GROSS SQUARE FEET”, “SALE PRICE” and “RESIDENTIAL UNITS” using any graph you choose.
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d

ax = plt.figure().add_subplot(111, projection='3d')
ax.scatter(df.GROSS_SQUARE_FEET, df.SALE_PRICE, df.RESIDENTIAL_UNITS, c=df.RESIDENTIAL_UNITS)
ax.set_xlabel("GROSS_SQUARE_FEET")
ax.set_ylabel("SALE_PRICE")
ax.set_zlabel("RESIDENTIAL_UNITS")