<a href="https://colab.research.google.com/github/shruti123-web/INTM584_IES_/blob/main/INTM584_IES_Lec5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/HRDataset_v14.csv")
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
1,"Ait Sidi, Karthikeyan",10084.0,1.0,1.0,Male,5.0,3.0,3.0,0.0,104437.0,...,4,80,1,10,3,3,10,7,1,7
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,Male,5.0,5.0,3.0,0.0,64955.0,...,3,80,0,7,3,3,0,0,0,0
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
4,"Anderson, Carol",10069.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,50825.0,...,3,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,"Ybarra, Catherine",10301.0,0.0,0.0,Female,5.0,5.0,1.0,0.0,48513.0,...,3,80,1,19,2,3,10,8,0,1
308,"Zamora, Jennifer",10010.0,0.0,0.0,Male,1.0,3.0,4.0,0.0,220450.0,...,3,80,1,12,2,3,5,3,1,2
309,"Zhou, Julia",10043.0,0.0,0.0,Male,1.0,3.0,3.0,0.0,89292.0,...,3,80,1,6,4,3,5,2,0,3
310,"Zima, Colleen",10271.0,0.0,4.0,Male,1.0,5.0,3.0,0.0,45046.0,...,3,80,0,9,1,3,2,2,1,0
311,NaN,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,...,3,80,1,24,2,3,24,9,9,11

In [ ]:
#Determine the total number of people who are Production Technician I.
df.Position.loc[df["Position"]=="Production Technician I"].count()

137

In [ ]:
#Determine the number of males.
df.Gender.loc[df["Gender"]=="Male"].count()

194

In [ ]:
#Find persons who are employed under “Michael Albert”.
df.EmpID.loc[df["ManagerName"]=="Michael Albert"]

0      10026.0
14     10066.0
23     10294.0
41     10067.0
58     10132.0
83     10299.0
84     10280.0
102    10159.0
122    10125.0
129    10195.0
143    10034.0
148    10192.0
168    10186.0
171    10096.0
186    10068.0
195    10120.0
209    10281.0
229    10152.0
247    10260.0
256    10095.0
272    10117.0
294    10183.0
Name: EmpID, dtype: float64

In [ ]:
#List active employee names.
df.Employee_Name.loc[df["EmploymentStatus"]=="Active"]

0      Adinolfi, Wilson  K
3             Alagbe,Trina
5        Anderson, Linda
6          Andreola, Colby
7              Athwal, Sam
              ...
305          Wolk, Hang  T
306         Woodson, Jason
308       Zamora, Jennifer
309            Zhou, Julia
310          Zima, Colleen
Name: Employee_Name, Length: 207, dtype: object

In [ ]:
#List active employee names who are married
df.Employee_Name.loc[(df["EmploymentStatus"]=="Active") & (df["MaritalDesc"]=="Married")]

3           Alagbe,Trina
16      Beak, Kimberly
22         Billis, Helen
26     Boutwell, Bonalyn
29            Brown, Mia
             ...
271     Sullivan, Kissy
272    Sullivan, Timothy
275         Tannen, Biff
287        Turpin, Jumil
288      Valentin,Jackie
Name: Employee_Name, Length: 77, dtype: object

In [ ]:
#Find an active employee earning less than $60,000.
a = df.Employee_Name.loc[(df["EmploymentStatus"]=="Active")]
b = df.Salary.loc[(df["EmploymentStatus"]=="Active")]
for i in range(len(b)+1):
  if(b[i]<60000):
    print(a[i])

KeyError: ignored

In [ ]:
df.Employee_Name.loc[(df["EmploymentStatus"]=="Active") & (df["Salary"]<60000)]

5         Anderson, Linda
7               Athwal, Sam
8          Bachiochi, Linda
9        Bacong, Alejandro
13     Barone, Francesco  A
               ...
278        Terry, Sharlene
281       Tippett, Jeanette
288         Valentin,Jackie
291        Villanueva, Noah
310           Zima, Colleen
Name: Employee_Name, Length: 72, dtype: object

In [ ]:
#Find the best Production Technician II based on EngagementSurvey

In [ ]:
#Find the positions which are drawing maximum Salary

In [ ]:
#Find the persons which are drawing lower than average salary

In [ ]:
#Find the persons which are drawing lower than average salary and are not satisfactory