<a href="https://colab.research.google.com/github/shruti123-web/INTM584_IES_/blob/main/INTM584_IES_Lec6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/Supermarket_sales  Copy.csv")
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,NaN,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,NaN,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df.iloc[3,7]=df.Unitprice.mean()

In [ ]:
df.head(10)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.690000,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.280000,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.330000,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,55.595753,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,NaN,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,NaN,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,7,355-53-5943,A,Yangon,Member,Female,Electronic accessories,NaN,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,8,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.560000,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.260000,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,10,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.840000,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

In [ ]:
for i in range(len(df.Unitprice)):
  if(pd.isnull(df.iloc[i,7])):
    df.iloc[i,7]=(df.Unitprice.mean())

In [ ]:
#for i in range(len(df)):
  #if((pd.isnull(df.iloc[i,7]))):
    #df.iloc[i,7]=df.Unitprice.mean()

#a = pd.isnull(df["Unitprice"])
#a

In [ ]:
df.head(20)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.690000,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.280000,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.330000,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,55.595753,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,55.595753,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,55.595753,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,7,355-53-5943,A,Yangon,Member,Female,Electronic accessories,55.595753,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,8,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.560000,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.260000,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,10,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.840000,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
10,11,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.480000,4,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
11,12,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.510000,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,13,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.950000,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
13,14,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.190000,10,21.5950,453.4950,2/7/2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.380000,10,NaN,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
15,16,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.720000,6,NaN,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.930000,7,NaN,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
17,18,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.610000,6,NaN,457.4430,1/1/2019,10:39,Credit card,435.66,4.761905,21.7830,6.9
18,19,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.670000,3,NaN,172.2105,1/21/2019,18:00,Credit card,164.01,4.761905,8.2005,8.6
19,20,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.300000,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4

In [ ]:
#df.Unitprice.fillna(df.Unitprice.mean())
df.Unitprice.fillna(df.Unitprice.mean() , inplace=True)

In [ ]:
df.head(20)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.690000,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.280000,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.330000,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,55.595753,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,55.595753,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,55.595753,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,7,355-53-5943,A,Yangon,Member,Female,Electronic accessories,55.595753,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,8,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.560000,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.260000,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,10,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.840000,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
10,11,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.480000,4,2.8960,60.8160,2/6/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
11,12,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.510000,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,13,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.950000,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
13,14,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.190000,10,21.5950,453.4950,2/7/2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.380000,10,NaN,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
15,16,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.720000,6,NaN,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.930000,7,NaN,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
17,18,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.610000,6,NaN,457.4430,1/1/2019,10:39,Credit card,435.66,4.761905,21.7830,6.9
18,19,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.670000,3,NaN,172.2105,1/21/2019,18:00,Credit card,164.01,4.761905,8.2005,8.6
19,20,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.300000,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4

In [ ]:
df.describe() #summary

,No,Unitprice,Quantity,Tax,Total,cogs,gross_margin_percentage,gross_iincome,Rating
count,1000.000000,1000.000000,1000.000000,995.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,500.500000,55.595753,5.510000,15.338145,322.966749,307.58738,4.761905,15.379369,6.97270
std,288.819436,26.456678,2.923431,11.706248,245.885335,234.17651,0.000000,11.708825,1.71858
min,1.000000,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,250.750000,32.875000,3.000000,5.833250,124.422375,118.49750,4.761905,5.924875,5.50000
50%,500.500000,55.230000,5.000000,12.072000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,750.250000,77.690000,8.000000,22.428000,471.350250,448.90500,4.761905,22.445250,8.50000
max,1000.000000,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [ ]:
list(map(len,df.City))

[6,
 9,
 6,
 6,
 6,
 9,
 6,
 9,
 6,
 8,
 8,
 8,
 6,
 6,
 6,
 8,
 6,
 6,
 6,
 8,
 9,
 8,
 8,
 6,
 6,
 6,
 8,
 6,
 8,
 6,
 8,
 8,
 8,
 6,
 9,
 9,
 6,
 6,
 9,
 8,
 8,
 9,
 8,
 9,
 9,
 8,
 8,
 8,
 8,
 9,
 9,
 6,
 8,
 9,
 8,
 9,
 6,
 6,
 6,
 9,
 9,
 9,
 8,
 6,
 8,
 6,
 9,
 8,
 6,
 6,
 9,
 9,
 8,
 9,
 6,
 9,
 9,
 6,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 6,
 6,
 8,
 9,
 9,
 6,
 8,
 9,
 6,
 8,
 9,
 6,
 8,
 9,
 9,
 9,
 6,
 8,
 6,
 9,
 6,
 9,
 9,
 8,
 9,
 8,
 6,
 9,
 9,
 8,
 8,
 6,
 8,
 6,
 9,
 8,
 9,
 8,
 6,
 6,
 9,
 9,
 8,
 8,
 6,
 8,
 8,
 9,
 9,
 6,
 6,
 8,
 6,
 9,
 9,
 9,
 9,
 6,
 9,
 6,
 9,
 8,
 6,
 8,
 9,
 6,
 9,
 9,
 6,
 8,
 8,
 8,
 8,
 9,
 6,
 6,
 9,
 8,
 8,
 9,
 6,
 6,
 6,
 6,
 8,
 9,
 8,
 8,
 6,
 6,
 9,
 6,
 9,
 9,
 9,
 6,
 9,
 6,
 8,
 8,
 8,
 6,
 9,
 8,
 8,
 9,
 8,
 6,
 9,
 9,
 6,
 9,
 9,
 9,
 8,
 9,
 8,
 8,
 6,
 9,
 9,
 8,
 8,
 6,
 9,
 8,
 8,
 8,
 6,
 8,
 6,
 8,
 8,
 8,
 8,
 9,
 9,
 6,
 9,
 8,
 9,
 8,
 6,
 8,
 8,
 8,
 8,
 6,
 6,
 9,
 9,
 8,
 6,
 6,
 6,
 9,
 6,
 8,
 6,
 8,
 6,
 6,
 8,
 8,
 9,
 9,
 6,
 6,
 8,
 6,
 6,
 6,
 9,
 6,
 9,
 8,
 6,
 8,
 6,
 9,
 8,
 6,
 6,
 8,
 9,
 6,
 6,
 8,
 8,
 9,
 9,
 9,
 6,
 6,
 9,
 6,
 6,
 6,
 8,
 9,
 9,
 8,
 6,
 8,
 9,
 6,
 6,
 8,
 9,
 9,
 6,
 6,
 9,
 9,
 8,
 9,
 6,
 8,
 6,
 6,
 6,
 6,
 6,
 8,
 9,
 6,
 6,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 6,
 6,
 6,
 8,
 6,
 9,
 8,
 6,
 8,
 6,
 6,
 6,
 9,
 6,
 6,
 8,
 9,
 8,
 8,
 8,
 8,
 9,
 6,
 6,
 6,
 9,
 6,
 8,
 9,
 6,
 8,
 8,
 9,
 8,
 9,
 9,
 8,
 8,
 6,
 9,
 9,
 6,
 9,
 9,
 9,
 6,
 9,
 6,
 8,
 8,
 9,
 9,
 6,
 6,
 8,
 9,
 9,
 8,
 6,
 9,
 8,
 9,
 6,
 8,
 9,
 6,
 9,
 8,
 9,
 8,
 6,
 6,
 6,
 6,
 6,
 8,
 8,
 8,
 9,
 9,
 9,
 8,
 9,
 6,
 6,
 8,
 6,
 9,
 8,
 8,
 6,
 6,
 6,
 8,
 9,
 9,
 8,
 6,
 9,
 9,
 9,
 8,
 9,
 8,
 6,
 8,
 8,
 6,
 8,
 9,
 6,
 8,
 8,
 9,
 9,
 6,
 9,
 9,
 9,
 8,
 6,
 9,
 6,
 8,
 9,
 9,
 8,
 8,
 8,
 8,
 6,
 6,
 6,
 8,
 8,
 8,
 9,
 9,
 9,
 8,
 9,
 9,
 6,
 9,
 9,
 8,
 9,
 9,
 9,
 6,
 6,
 8,
 6,
 6,
 6,
 9,
 8,
 6,
 9,
 9,
 6,
 8,
 9,
 8,
 8,
 6,
 9,
 8,
 8,
 6,
 8,
 9,
 8,
 8,
 9,
 9,
 8,
 6,
 8,
 9,
 9,
 8,
 8,
 6,
 8,
 8,
 8,
 9,
 8,
 6,
 6,
 6,
 9,
 9,
 8,
 9,
 6,
 9,
 8,
 9,
 6,
 9,
 6,
 6,
 8,
 8,
 8,
 6,
 6,
 6,
 8,
 9,
 6,
 9,
 8,
 6,
 6,
 9,
 6,
 9,
 8,
 9,
 8,
 8,
 6,
 6,
 8,
 6,
 8,
 8,
 8,
 9,
 6,
 8,
 8,
 9,
 6,
 6,
 8,
 9,
 8,
 6,
 8,
 6,
 9,
 6,
 8,
 9,
 8,
 8,
 6,
 8,
 6,
 8,
 8,
 9,
 6,
 8,
 9,
 6,
 9,
 8,
 8,
 6,
 6,
 6,
 9,
 6,
 9,
 9,
 6,
 6,
 8,
 8,
 6,
 9,
 9,
 6,
 9,
 9,
 9,
 8,
 9,
 8,
 6,
 9,
 6,
 8,
 6,
 9,
 8,
 9,
 6,
 6,
 8,
 9,
 6,
 9,
 6,
 6,
 8,
 8,
 8,
 8,
 6,
 8,
 6,
 6,
 6,
 6,
 6,
 8,
 8,
 8,
 6,
 9,
 8,
 8,
 8,
 9,
 8,
 9,
 9,
 6,
 9,
 8,
 9,
 9,
 8,
 8,
 6,
 8,
 8,
 6,
 9,
 6,
 6,
 6,
 8,
 9,
 8,
 9,
 9,
 6,
 8,
 8,
 9,
 8,
 6,
 8,
 8,
 9,
 6,
 8,
 8,
 6,
 9,
 6,
 8,
 8,
 9,
 6,
 8,
 8,
 8,
 6,
 9,
 6,
 9,
 9,
 6,
 9,
 9,
 6,
 6,
 8,
 6,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 6,
 6,
 9,
 9,
 9,
 9,
 6,
 6,
 6,
 6,
 8,
 8,
 9,
 8,
 9,
 8,
 9,
 9,
 8,
 9,
 8,
 6,
 6,
 6,
 8,
 8,
 9,
 9,
 9,
 8,
 6,
 9,
 9,
 6,
 6,
 9,
 9,
 8,
 9,
 8,
 9,
 8,
 6,
 6,
 8,
 9,
 6,
 8,
 6,
 6,
 6,
 8,
 8,
 6,
 6,
 6,
 8,
 9,
 8,
 8,
 6,
 8,
 9,
 9,
 9,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 6,
 6,
 9,
 9,
 6,
 9,
 9,
 9,
 6,
 6,
 9,
 8,
 6,
 6,
 8,
 9,
 6,
 8,
 9,
 8,
 9,
 9,
 6,
 8,
 6,
 6,
 6,
 8,
 9,
 8,
 6,
 9,
 6,
 6,
 8,
 9,
 6,
 8,
 8,
 8,
 6,
 9,
 6,
 8,
 6,
 8,
 6,
 9,
 6,
 6,
 8,
 8,
 6,
 8,
 6,
 6,
 8,
 9,
 9,
 6,
 8,
 6,
 9,
 6,
 6,
 6,
 9,
 9,
 6,
 6,
 6,
 9,
 8,
 6,
 8,
 8,
 6,
 8,
 6,
 9,
 6,
 8,
 8,
 6,
 9,
 8,
 9,
 9,
 6,
 6,
 9,
 8,
 6,
 6,
 9,
 9,
 8,
 6,
 8,
 8,
 9,
 8,
 6,
 6,
 6,
 6,
 6,
 9,
 6,
 9,
 8,
 9,
 8,
 8,
 8,
 9,
 9,
 9,
 6,
 9,
 8,
 6,
 6,
 9,
 9,
 9,
 8,
 6,
 8,
 8,
 9,
 6,
 6,
 6,
 9,
 9,
 6,
 8,
 8,
 9,
 8,
 9,
 9,
 9,
 8,
 8,
 6,
 8,
 8,
 8,
 9,
 6,
 9,
 8,
 9,
 9,
 6,
 6,
 9,
 6,
 9,
 6,
 6,
 6,
 6,
 9,
 8,
 9,
 8,
 8,
 8,
 8,
 9,
 8,
 6,
 9,
 8,
 9,
 6,
 9,
 6,
 6,
 9,
 8,
 8,
 6,
 6,
 6,
 8,
 8,
 8,
 8,
 6,
 9,
 8,
 6,
 8,
 8,
 8,
 9,
 6,
 6,
 9,
 9,
 8,
 8,
 8,
 9,
 8,
 6,
 8,
 6,
 8,
 9,
 9,
 8,
 6,
 6,
 6]

In [ ]:
for j in df:
  if(np.dtype(df[j])=='int64' or np.dtype(df[j])=='float64'):
    m = df[j].mean()
    l = df.columns.get_loc(j)
    for i in range(len(df.Tax)):
      b = df.iloc[i,l]
      if(pd.isnull(df.iloc[i,l])):
        df.iloc[i,l]=m